<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}" />
  {% else %}
  <meta name="keywords" content="crypto, cryptos, cryptocurrency, cryptocurrencies, etheruem, eth, bitcoin, dex, dao, nft, defi, mining, investment, web3, blockchain, blockchains, btc, solana, dao, altcoins, airdrop, cryptotrendz, trends, bearmarket, smartconracts, layer0, erc20, layer2, onchain, offchain, minting, wallet, payments, liquidity, staking, pow, dapps, protocol, chains, zkrollup, token, tokenomics, derivatives" />
  {% endif %}

  {%- seo -%}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  {%- feed_meta -%}

    {%- include google-analytics.html -%}

  {%- include custom-head.html -%}
  
  <!-- BEGIN Markdown TableSorter (by OpsByte Technologies) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/assets/js/jquery.tablesorter.min.js"> </script>
  <script type="text/javascript" >$(function() { console.log("sorting table"); $("table").tablesorter(); });</script>
  <!-- END Markdown TableSorter -->

</head>
