// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.tag {
    background: #f0f0f0;
    color: #333;
    padding: 4px 8px;
    margin: 2px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.9em;
    display: inline-block;
    transition: background 0.3s;
  }
  
.tag:hover {
  background: #3498db;
  color: #fff;
}


// Nav Bar 
a.site-title, a.site-title:visited , a.site-title:hover { color:  #9900cc; }
a.page-link:hover{ color:  #cc6600; }

// All Other Hyperlinks
a:hover , a.post_link:hover { color:  #cc6600; }

// Additional Page Related
span.post-meta, time.dt-published { color : #595959 ; }

// Post Title Inside Posts
h1.post-title.p-name , h1.post-title{ color:  #009973; }
.post-title { font-size: 1.8rem; }

// Pagination
a.next, a.previous, a.last, a.next:visited, a.previous:visited, a.last:visited { color: #009973; }
a.next:hover, a.previous:hover, a.last:hover{ color:  #cc6600; }

// Footer
p.feed-subscribe{ color:  #595959; }
div.footer-col { color:  #9900cc; font-style: italic;}